In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%matplotlib inline
import math

In [11]:
cust = pd.read_csv("C:/Data Sets/Data Sets/Testing_Of_Hypothesis.csv")

In [12]:
cust

#Table with customer ID and Scores for Samsung and Apple.
#Sample with 100 observations.

    Sr No S_Cust_id  Samsung Score Apple_Cust_id  Apple_Score
0       1   S336499             94       A336525           82
1       2    S73004             99        A73011           83
2       3    S79537             74        A79538           88
3       4   S769168             74       A769222           80
4       5   S609791             83       A609801           74
..    ...       ...            ...           ...          ...
95     96   S285617             77       A285629           87
96     97   S324135             85       A324151           82
97     98   S292076             83       A292091           88
98     99   S936528             82       A936566           91
99    100   S489010            100       A489031           95

[100 rows x 5 columns]

In [21]:
#Basic Dataset checking

cust.info()
#No null values

#Checking the values of central tendency for both brands

cust.rename(columns={'Samsung Score':'Samsung_Score'}, inplace = True) #Renaming the Samsung Column

cust.Samsung_Score.mean() # Mean 84.9 for Samsung
cust.Samsung_Score.median() # Median 85.5
cust.Samsung_Score.std() #11.84 std dev
cust.Samsung_Score.var() #140.29 Variance

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
Sr No            100 non-null int64
S_Cust_id        100 non-null object
Samsung_Score    100 non-null int64
Apple_Cust_id    100 non-null object
Apple_Score      100 non-null int64
dtypes: int64(3), object(2)
memory usage: 4.0+ KB

140.2929292929293

In [14]:
#Apple
cust.Apple_Score.mean() #87.81 for Apple
cust.Apple_Score.median() # Median 88.5
cust.Apple_Score.std() #9.62 std dev
cust.Apple_Score.var() #92.70 variance

92.70090909090905

## Observations from Measures of Central Tendency and Dispersion : 
Apple has higher mean and the data is less distributed as compared with Samsung.

If we take a maximum base score of the two companies which are equal (possibly 100), we can see that the average/mean score is more for Apple which means that the Apple customers are more satisfied than Samsung products.
Also, lesser dispersion scores mean that the customers more or less have a similiar satisfaction level with Apples as compared with Samsung.

We are 95% confident about the hypothesis.

We will be using Hypothesis Testing to determine whether there is enough statistical evidence in favor of a hypothesis.

In [15]:
stats.ttest_1samp(a = cust.Samsung_Score, popmean = 75)

Ttest_1sampResult(statistic=8.358287450922418, pvalue=4.0739777034636007e-13)

Answer 1:
As checked from the average for Samsung scores above which comes to be 84.9, we can say with 99.9% confidence that the mean is greater than 75 for the sample for Samsung.
Also verified from the p value which is negiligible, that we reject the null hypothesis.

We will check it for the means for Apple and Samsung by measures of T- test

In [16]:
stats.ttest_rel(a =cust.Apple_Score, b =cust.Samsung_Score )

Ttest_relResult(statistic=1.9015800946572132, pvalue=0.06013359092250471)

Answer 2: A positive pvalue proves that the mean values of Apple is greater than Samsung. The difference is not massive, there is not a very significant difference.

In [17]:
stats.ttest_ind(a =cust.Apple_Score, b =cust.Samsung_Score )

Ttest_indResult(statistic=1.9064295935043472, pvalue=0.058042614444118075)

## ANOVA TEST

In [27]:
a = cust.Apple_Score
b = cust.Samsung_Score

stats.f_oneway(a,b)

F_onewayResult(statistic=3.6344737949891592, pvalue=0.05804261444411817)

A positive pvalue does not reject the null hypothesis which says that the variances of the groups are similar.
Also, the segments are similiar to each other.

This can be said with 95% confidence.

## Corelation

In [29]:
stats.stats.pearsonr(cust.Apple_Score,cust.Samsung_Score)

(-0.005216992494877157, 0.9589156571601546)

The Pearson Coefficent is negative, this means that the scores are inversely proportional to each other.
The p value is high, the null hypothesis will not be rejected.

This also means that the customers who gave a high score to Apple, gave a low score to Samsung and vice versa.
This is checked with 95% confidence.

# CONCLUSIONS

Observations from Measures of Central Tendency and Dispersion :

Apple has higher mean and the data is less distributed as compared with Samsung.

If we take a maximum base score of the two companies which are equal (possibly 100), we can see that the average/mean score is more for Apple which means that the Apple customers are more satisfied than Samsung products. Also, lesser dispersion scores mean that the customers more or less have a similiar satisfaction level with Apples as compared with Samsung.
Answer 1: As checked from the average for Samsung scores above which comes to be 84.9, we can say with 99.9% confidence that the mean is greater than 75 for the sample for Samsung. Also verified from the p value which is negiligible, that we reject the null hypothesis.

We will check it for the means for Apple and Samsung by measures of T- test
Answer 2: A positive pvalue proves that the mean values of Apple is greater than Samsung. The difference is not massive, there is not a very significant difference.
The Pearson Coefficent is negative, this means that the scores are inversely proportional to each other. The p value is high, the null hypothesis will not be rejected.

This also means that the customers who gave a high score to Apple, gave a low score to Samsung and vice versa.
All this hypothesis is checked with overall 95% confidence.

# Thank You!

Kindly let me know wherever I have done wrong or I could use a more efficent method.